*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(120deg, #f6d365, #fda085); */
    background-color: #97D9E1;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #97D9E1;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #97D9E1;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex; 
    justify-content: space-between;

    transition: all 0.6s ease;
}

.todo li{
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: rgb(85, 204, 85);
    
}

.todo-item{
    padding: 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    background: rgb(85, 204, 85);
    color: white;
}

.fall{
    transform: translateY(8rem) rotateZ(-20deg) rotateX(80deg);
    opacity: 0;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 2px;
}

footer h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

footer a{
    text-decoration: none;
    color: white;
}